@import "tailwindcss";
@config "../tailwind.config.js"

@theme {
  --shadow-purple-3xl: 0 10px 35px rgba(128, 0, 128, 0.35); /* Purple shadow */
}

:root {
  --font-poppins: "Poppins";
  --font-lexend: "Lexend";
}

/* CHAT STYLES */
.bg-gradiant-primary{
  @apply bg-gradient-to-r from-fuchsia-900 to-purple-600;
}

h1 {
  @apply text-3xl font-bold
}

h2 {
  @apply text-2xl font-bold
}

h3 {
  @apply text-xl font-bold
}

p, li, span, strong, i {
  @apply text-slate-300;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}